
//Кнопка добовления задачи
.toggleModal {
  background-color: #6c63ff;
  padding:  10px;
  width: 50px;
  height:  50px;
  border: none;
  border-radius:  30px;
  //margin-left: 10px;
  border-color: aliceblue;
  background-image: url('../../../public/Img/Plus.svg');
  background-repeat: no-repeat;
  background-position: center; /* Позиционирование изображения по центру кнопки */
  background-size: 21px; //црер изображения
  //color: #ffffff; /* Белый цвет текста */
  left: 1050px;
  margin-top: 250px;
  z-index: 20000;
  position: fixed;
  cursor: pointer;

}

.okno {
  position: absolute;
  top:  450px;
  left:  700px;
  width:  520px;
  height:  545px;
  transform: translate(-60%, -50%);  //Двигает блок с таскми


  /* Дополнительные стили для блока */
  background-color: var(--ParentComponent-background-color);
  border: none; /* Убираем контуры */
  padding:  0;
  z-index: 0;
}


.inputCheckbox {
  /* Задаем размеры чекбокса */
  width:  26px;
  height:  26px;
  /* Изменяем цвет фона чекбокса */
  background-color: var(--ParentComponent-background-color);
  /* Задаем цвет фона при выбранном состоянии */
  background-repeat: no-repeat;
  background-position: center;
  margin-right:  10px; /* Выберите нужный отступ */
  //margin-bottom:  10px; //Задает отступ снизу в  10 пикселей
  float: left;
  cursor: pointer;


}

.selected {
  text-decoration: line-through;
  color: rgb(110, 108, 108);
}

.taskItem {
  display: flex;
  align-items: center; /* Выравнивание элементов по вертикали */
  border-bottom:  2px solid #429bdf; /* Добавляем линию под задачей */
  padding-bottom:  0; /* Добавляем отступ снизу для создания пространства между текстом и линией */
  margin-bottom:  10px; /* Добавляем отступ снизу для создания пространства между задачами */
}


////Текст в задачи
.taska {
  display: flex;
  justify-content: space-between; /* Выравнивание элементов по горизонтали */
  width:  100%; /* Убедитесь, что контейнер занимает всю ширину */
}


.content {
  width: 750px;
  height: 710px;


}


.h1 {
  color: #6c63ff;
}

.deleteTaskContainer {
  display: flex;
  justify-content: flex-end; /* Выравнивание по правому краю */
  width:   100%;
  cursor: pointer;
}

.deleteTask {
  width:   18px;
  height:   18px;
  fill: rgba(0,   0,   0,   0.12);
  cursor: pointer; /* Изменение курсора на указатель при наведении */
  margin-left: auto; /* Отступ слева от SVG изображения */
  margin-bottom:   0; /* Убираем нижний отступ */
  margin-top:  10px; /* верхний отступ для смещения вниз */
}

.izmTaskConteiner {
  display: flex;
  justify-content: flex-end;
  margin-left: 400px;
  //margin-left: 0px;
  cursor: pointer;
}






.blocktaska {
  width: 520px;
}



.addedTaskMessage {
  position: fixed; /* Фиксированное позиционирование относительно окна просмотра */
  top:  50%; /* Позиционирование в середине по вертикали */
  left:  50%; /* Позиционирование в середине по горизонтали */
  transform: translate(-50%, -50%); /* Смещение элемента на половину его ширины и высоты влево и вверх */
  background-color: #4CAF50;
  color: var(--ParentComponent-background-color);
  padding:  10px;
  border-radius:  5px;
  text-align: center; /* Выравнивание текста по центру */
}

.alertModal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.alertModal p {
  margin-bottom: 10px;
}

.alertModal button {
  background-color: #007bff;
  color: var(--ParentComponent-background-color);
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}


//Местоположение кнопки
.knopka {
  position: fixed;
  bottom:  80px;
  //right:  50px;
  top: -500px;
  left: -65px;
}


.tabTaska {
  width: 300px;
  height: 180px;
  border: 2px solid var(--tabTaska-border-color); /* Убедитесь, что вы указали цвет границы */
  background-color: rgba(253, 253, 253, 0); /* Цвет фона */
  position: fixed; /* Зафиксирует элемент относительно окна просмотра */
  top: 0; /* Позиционирует элемент сверху */
  left: 0; /* Позиционирует элемент слева */
  margin-top: 50px; /* Отступ сверху */
  margin-left: 18px; /* Отступ слева */
}


.taskItem {
  border-bottom:  1px solid; // Добавляем границу под каждый элемент
  color: var(--taskItem-color);
  border-color: var(--taskItem-border-color);
  padding:  8px  0; // Добавляем отступ для лучшей визуализации
  font-size: 20px; /* Устанавливает размер шрифта в 16 пикселей */

}


//Текст в блоке
.tabTaska {
  color: var(--tabTaska-color); /* Синий цвет */

}

