.button {
  background-color: #6c63ff;
  padding:  10px;
  width:  100px;

  height:  38px;
  border-radius:  5px;
  margin-left:  15px;
  border: none;
  overflow: visible;
  position: relative;
  z-index:  1000;
  background-image: url('../../../public/Img/strelka.svg');
  background-repeat: no-repeat;
  background-position: right .7em center;
  background-size: .65em auto;

}

.button select {
  background: none;
  border: none;
  color: #e0e0e0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  width:  93px; /* Ширина выпадающего списка */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}


.select {

  background-color: #0e0d0d;

}

.select::after {
  content: '';
  position: absolute;
  right:  10px;
  margin-left: 200px;
  transform: translateY(-50%); /* Дополнительная корректировка для вертикального центрирования */
  border-left:  6px solid #ffffff;
  border-top:  3px solid transparent;
  border-bottom:  3px solid transparent;
  pointer-events: none;
}
