

@keyframes moveRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(30%);
  }
}



.modal {
  position: fixed;
  top:   0;
  right:   0; /* Выравнивание по правому краю */
  width:   50px;
  height:   50px;
  background-color: rgb(243,   8,   8); /* Полупрозрачный фон */
  z-index: auto;
  outline:  2px solid #101010; /* Добавление контура */
}



.box {
  width:  100px;
  height:  100px;
  background-color: rgba(253, 253, 253, 0);
  background-image: url('../../../public/Img/ZadachaDobavlena.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: moveRight  3s forwards; //Применяем анимацию moveRight
}

.textAlert {
  position: absolute; /* Позиционирует текст абсолютно внутри .box */
  bottom:   10px; /* Позиционирует текст на   10px от нижнего края .box */
  color: #6e6c6c;
  font-family: Arial, sans-serif;
  top: 90px;
  //text-align: center;
  left: 10px;

}

.alertModal {
  display: flex;
  align-items: center;
  position: fixed;
  left:  100px;
  width:  80%;
  margin:  0 auto;
  height:  150px;
  //margin-top:  300px;
  background-color: rgba(255,  255,  255,  0);
  border-radius:  10px;
  border-style: solid;
  border-width:  1px;
  border-color: rgba(253,  253,  253,  0);
  animation: moveRight  3s forwards;
  z-index:  100;
}